/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body, html {
  height: 100%
}

.bgimg {
  /* Background image */
  background-color: #000000;
  background-image: url('../img/contact-area.jpg');
  /* Full-screen */
  height: 100%;
  /* Center the background image */
  background-position: center;
  /* Scale and zoom in the image */
  background-size: cover;
  /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
  position: relative;
  /* Add a white text color to all elements inside the .bgimg container */
  color: white;
  /* Add a font */
  font-family: "Helvetica" ;
  /* Set the font-size to 25 pixels */
  font-size: 35px;


}


/* Position text in the top-left corner */
.topleft {
  position: absolute;
  top: 0;
  left: 16px;
}

/* Position text in the bottom-left corner */
.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
}

/* Position text in the middle */
.middle {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
}

/* Style the <hr> element */
hr {
  margin: auto;
  width: 40%;
}

/* Style the Portfolio Home Button */
.marqhome {
    position:relative;

}
.marqhome img {
    width:100% ;
    vertical-align:top-middle;
}
.marqhome:after {
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    border-radius: 15px 15px 30px 30px;
    top:0; left:0;
    background:rgba(0,0,0,0.3);
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.marqhome:hover:after {
    opacity:1;
}

.marqhome {
  border-radius: 15px 15px 30px 30px;
  background: #fafafa;
  padding: 10px;
}

.contact-form {
font: Helvetica;
color: white;
font-size: 18px;

}

.page-section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
  font-family: 'Helvetica Neue'
}

.page-section h3.section-subheading {
  font-size: 16px;
  margin-bottom: 75px;
  font-family: 'Helvetica Neue'
