/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
IMPORTS
RESETS
NAVBAR
SECTIONS
BUTTONS
FOOTER
SHARED
*/
/*------------------------------------*\
    $IMPORTS
\*------------------------------------*/
/*------------------------------------*\
    $RESETS
\*------------------------------------*/
body {
  background-color: black;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 500;
  height: 100%;
  position: relative;
  width: 100%;
}

html {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Georgia', serif;
  font-weight: 700;
  margin: 0 0 2rem;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0 0 1.5rem;
}

@media (min-width: 768px) {
  p {
    font-size: 1rem;
    line-height: 1.6;
    margin: 0 0 1.5rem;
  }
}

a {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #c0ffee;
}

a:focus, a:hover {
  text-decoration: none;
  color: #5affd2;
}

/*------------------------------------*\
    $NAVBAR
\*------------------------------------*/
#mainNav {
  margin-bottom: 0;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background-color: black;
}

#mainNav .navbar-toggler {
  font-size: 1rem;
  padding: 1rem;
  color: white;
  border: 1px solid white;
}

#mainNav a {
  color: white;
}

#mainNav .navbar-nav .nav-item {
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    letter-spacing: 1px;
    border-bottom: none;
    background: transparent;
  }
  #mainNav.navbar-shrink {
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background: black;
  }
  #mainNav .nav-link.active {
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
  }
  #mainNav .nav-link.active:hover {
    color: white;
  }
}

/*------------------------------------*\
    $SECTIONS
\*------------------------------------*/
section#work {
  align-content: space-evenly;
  background-color: #000;
  color: white;
  display: grid;
  grid: 1fr 1fr 1fr / 90%;
  grid-row-gap: 1rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -ms-flex-line-pack: space-evenly;
  justify-content: center;
  padding: 6rem 0;
  text-align: center;
}

section#work .intro-body {
  -ms-flex-item-align: center;
  align-self: center;
  justify-self: center;
}

section#work .intro-body .brand-heading {
  font-size: 3rem;
}

section#work .intro-body .intro-text {
  font-size: 1rem;
}

@media (min-width: 768px) {
  section#work {
    -ms-flex-line-pack: center;
    align-content: center;
    display: grid;
    grid: 50% / 30% 30% 30%;
    height: 100%;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    padding: 0;
    width: 100%;
  }
  section#work .intro-body .brand-heading {
    font-size: 6rem;
  }
  section#work .intro-body .intro-text {
    font-size: 1.5rem;
  }
}

section#about,
section#contact {
  padding: 10rem 0;
}

@media (min-width: 992px) {
  section#about,
  section#contact {
    padding: 16rem 0;
  }
}

.subhead {
  font-size: 1.5rem;
}

/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
.btn {
  white-space: normal;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 0;
}

.btn-circle {
  background: transparent;
  border-radius: 100% !important;
  border: 2px solid white;
  color: white;
  display: initial;
  font-size: 1.5rem;
  line-height: 3rem;
  margin-top: 1rem;
  transition: background 0.3s ease-in-out;
  -webkit-transition: background 0.3s ease-in-out;
}

.btn-circle:focus, .btn-circle:hover {
  color: white;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
}

.btn-default {
  color: #c0ffee;
  border: 1px solid #c0ffee;
  background-color: transparent;
}

.btn-default:focus, .btn-default:hover {
  color: black;
  border: 1px solid #c0ffee;
  outline: none;
  background-color: #c0ffee;
}

ul.banner-social-buttons {
  margin-top: 0;
}

@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 1rem;
  }
}

@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 1.5rem;
    padding: 0;
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}

/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
footer {
  padding: 3rem 0;
}

footer p {
  font-size: 1rem;
  margin: 0;
}

/*------------------------------------*\
    $SHARED
\*------------------------------------*/
::-moz-selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

::selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

img::-moz-selection {
  background: transparent;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

.small-caps {
  font-variant: small-caps;
}

.text-highlight {
  color: #00f3b1;
}

.fa-1x {
  font-size: 1rem;
}
