/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
IMPORTS
RESETS
NAVBAR
SECTIONS
BUTTONS
FOOTER
SHARED
*/
/*------------------------------------*\
    $IMPORTS
\*------------------------------------*/
/*------------------------------------*\
    $RESETS
\*------------------------------------*/
body {
  font-family: sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  background-color: black;
  font-size: 16px;
}

html {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: serif;
  font-weight: 700;
  margin: 0 0 2rem;
  letter-spacing: 1px;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0 0 1.5rem;
}

@media (min-width: 768px) {
  p {
    font-size: 1rem;
    line-height: 1.6;
    margin: 0 0 1.5rem;
  }
}

a {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #c0ffee;
}

a:focus, a:hover {
  text-decoration: none;
  color: #5affd2;
}

/*------------------------------------*\
    $NAVBAR
\*------------------------------------*/
#mainNav {
  margin-bottom: 0;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background-color: black;
}

#mainNav .navbar-toggler {
  font-size: 1rem;
  padding: 1rem;
  color: white;
  border: 1px solid white;
}

#mainNav .navbar-brand {
  font-weight: 700;
}

#mainNav a {
  color: white;
}

#mainNav .navbar-nav .nav-item {
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    letter-spacing: 1px;
    border-bottom: none;
    background: transparent;
  }
  #mainNav.navbar-shrink {
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background: black;
  }
  #mainNav .nav-link.active {
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
  }
  #mainNav .nav-link.active:hover {
    color: white;
  }
}

/*------------------------------------*\
    $SECTIONS
\*------------------------------------*/
.masthead {
  background-color: #000;
  background-size: cover;
  color: white;
  display: table;
  height: auto;
  text-align: center;
  width: 100%;
}

.masthead .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.masthead .intro-body .brand-heading {
  font-size: 3rem;
}

.masthead .intro-body .intro-text {
  font-size: 1rem;
}

@media (min-width: 768px) {
  .masthead {
    height: 100%;
    padding: 0;
  }
  .masthead .intro-body .brand-heading {
    font-size: 6rem;
  }
  .masthead .intro-body .intro-text {
    font-size: 1.5rem;
  }
}

.content-section {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.download-section {
  color: white;
  background-color: black;
  background-size: cover;
}

@media (min-width: 992px) {
  .content-section {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
}

.subhead {
  font-size: 1.5rem;
}

/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
.btn {
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 0;
}

.btn-circle {
  display: initial;
  font-size: 1.5rem;
  margin-top: 1rem;
  line-height: 3rem;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  color: white;
  border: 2px solid white;
  border-radius: 100% !important;
  background: transparent;
}

.btn-circle:focus, .btn-circle:hover {
  color: white;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
}

.btn-default {
  color: #c0ffee;
  border: 1px solid #c0ffee;
  background-color: transparent;
}

.btn-default:focus, .btn-default:hover {
  color: black;
  border: 1px solid #c0ffee;
  outline: none;
  background-color: #c0ffee;
}

ul.banner-social-buttons {
  margin-top: 0;
}

@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 1rem;
  }
}

@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 1.5rem;
    padding: 0;
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}

/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
footer {
  padding: 3rem 0;
}

footer p {
  font-size: 1rem;
  margin: 0;
}

/*------------------------------------*\
    $SHARED
\*------------------------------------*/
::-moz-selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

::selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

img::-moz-selection {
  background: transparent;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}
