body {
  /*font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  position: relative;
  width: 100%;
  height: 100%;
  color: black;
  /*background-color: #f4f4f4;*/
  background-color: #0078FF;
}

html {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /*font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 300;
  margin: 0 0 35px;
  letter-spacing: 3px;
  /*text-transform: uppercase;*/
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 25px;
}

@media (min-width: 768px) {
  p {
    font-size: 18px;
    line-height: 1.6;
    margin: 0 0 35px;
  }
}

/*the below changes color of links in body*/
a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #42DCA3;
}

/*the below changes color of links in body when you hover over*/
a:focus, a:hover {
  text-decoration: none;
  color: #1d9b6c;
}

#mainNav {
  /*font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  margin-bottom: 0;
  /*text-transform: uppercase;*/
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background-color: white;
}

#mainNav .navbar-toggler {
  font-size: 14px;
  padding: 11px;
  color: white;
  border: 1px solid white;
}

#mainNav .navbar-brand {
  /*font-weight: 0;*/
  /*color: #0078FF;*/
  color: #f4f4f4;
  /*color: #09C199;*/
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  /*font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';*/
  font-weight: 200;
  letter-spacing: 10px;
  font-size: 30px;
  text-transform: lowercase;
}

#mainNav a {
  color: white;
  font-family: 'Catamaran', 'Helvetic', 'Arial', 'sans-serif';
}

/*#mainNav .navbar-nav .nav-item {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}*/
#mainNav .navbar-nav > li > a.active {
  color: #0078FF !important;
  /*color: #F7981C !important;*/
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:hover {
  /*color: fade(white, 80%);*/
  /*color: fade(#0078FF, 80%);*/
  color: #0078FF;
  /*color: #F7981C;*/
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  color: #0078FF;
  /*color: #F7981C;*/
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 30px;
    padding-bottom: 30px;
    -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    letter-spacing: 1px;
    border-bottom: none;
    background: transparent;
  }
  #mainNav.navbar-shrink {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(196, 196, 196, 0.3);
    background: #f4f4f4;
    box-shadow: 0px 0px 1px grey;
  }
  #mainNav .nav-link.active {
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
  }
  #mainNav .nav-link.active:hover {
    color: white;
  }
}

.masthead {
  display: table;
  width: 100%;
  height: auto;
  padding: 200px 0;
  text-align: center;
  color: white;
  /*background: url("../img/intro-bg.jpg") no-repeat bottom center scroll;*/
  /*background-color: #f4f4f4;*/
  background-color: #0078FF;
  /*background-color: #09C199;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.masthead .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.masthead .intro-body .brand-heading {
  font-size: 50px;
  /*text-transform: lowercase;*/
  /*color: #2867cc;*/
  /*color: #730096;*/
  /*color: #0078FF;*/
  color: #f4f4f4;
}

.masthead .intro-body .intro-text {
  font-size: 18px;
}

@media (min-width: 768px) {
  .masthead {
    height: 100%;
    padding: 0;
  }
  .masthead .intro-body .brand-heading {
    font-size: 40px;
  }
  .masthead .intro-body .intro-text {
    font-size: 20px;
  }
}

.btn-circle {
  font-size: 26px;
  width: 55px;
  height: 55px;
  margin-top: 15px;
  line-height: 45px;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  color: white;
  border: 0px;
  border-radius: 100% !important;
  background: transparent;
}

.btn-circle:focus, .btn-circle:hover {
  /*color: #0078FF;*/
  color: #F7981C;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
  /*background: #0078FF;*/
  /*border: 2px solid #0078FF;*/
}

.content-section {
  /*color: #f4f4f4;*/
  background-color: #f4f4f4;
  padding-top: 50px;
  padding-bottom: 50px;
}

.download-section {
  color: black;
  /*background: url("../img/downloads-bg.jpg") no-repeat center center scroll;*/
  background-color: #f4f4f4;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (min-width: 992px) {
  .content-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #map {
    height: 350px;
  }
}

.btn {
  /*font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 300;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  /*text-transform: uppercase;*/
  border-radius: 0;
}

.btn-default {
  color: #0078FF;
  border: 1px solid #0078FF;
  background-color: transparent;
}

.btn-default:focus, .btn-default:hover {
  color: #f4f4f4;
  border: 1px solid #0078FF;
  outline: none;
  background-color: #0078FF;
}

ul.banner-social-buttons {
  margin-top: 0;
}

@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}

footer {
  background-color: #f4f4f4;
  padding: 50px 0;
}

footer p {
  font-size: 14px;
  margin: 0;
}

::-moz-selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

::selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

.special-word {
  /*color: #0078FF;*/
  color: #F7981C;
}

.ceneterWithImage{
  margin-top: 130px;
}

.letsMakeItWhite{
  background-color:white;
  width:100% !important; 
}

input[type=text] {
  width: 50%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

/*img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}*/
