.about-section {
  padding-top: 5rem;
  background: linear-gradient(to bottom, $black 0%,#{fade-out($black, .1)} 75%,#{fade-out($black, .2)} 100%);
  h2 {
    font-family: 'Antic Slab';
  }
  p {
    &:last-of-type {
      margin-bottom: 5rem;
    }
    color: rgba(white,.9);
  }
}
