.contact {
  position: fixed;
  border-radius: 100px;
  bottom: 2rem;
  right: 2rem;
  z-index: 200;
  padding: 1.5rem;
  background: $gray-300;
  &:hover {
    background: $black;
    color: $white;
  }
}
#ContactModal {
  .close {
    margin-right: -1.25rem;
    margin-top: -1.25rem;
  }
}
.contact-section {
  padding: 5rem 0 5em;
  .button {
    width: 100%;
  }
  .card {
    border: 0;
    border-bottom: 0.25rem solid $primary;
    h4 {
      font-size: 0.8rem;
      font-family: "Varela Round";
      text-transform: uppercase;
      letter-spacing: 0.15rem;
    }
    hr {
      border-color: $primary;
      border-width: 0.25rem;
      width: 3rem;
    }
  }
  .social {
    margin-top: 5rem;
    a {
      text-align: center;
      height: 3rem;
      width: 3rem;
      background: fade-out($white, 0.9);
      border-radius: 100%;
      line-height: 3rem;
      color: fade-out($white, 0.7);
      &:hover {
        color: fade-out($white, 0.5);
      }
      &:active {
        color: $white;
      }
    }
  }
}
