.issues-section {
  padding: 4rem 0;
  @media (min-width: 768px) {
    padding: 6rem 0;
  }
  .bio {
    margin-bottom: 2rem;
  }
  .featured-text {
    padding: 4rem 0 0;
    border-top: 0.25rem solid $primary;
    @media (min-width: 992px) {
      padding: 1rem 0 1rem 4rem;
      border-top: none;
      border-left: 0.5rem solid $primary;
      p:last-child {
        margin-bottom: 0;
      }
    }
  }
  .family-image {
    @media (min-width: 992px) {
      margin-left: -15%;
      max-width: 55%;
      flex: 0 0 55%;
    }
  }
  .issue {
    background: $primary;
    margin-bottom: 2rem;
    &:nth-of-type(odd) {
      background: $black;
    }

    @media (min-width: 992px) {
      margin-bottom: 0;
      &:nth-of-type(3) {
        background: $primary;
      }
      &:nth-of-type(4) {
        background: $black;
      }
    }
  }
  .issue-text {
    padding: 2rem;
    p {
      color: white;
    }
    @media (min-width: 992px) {
      padding: 4rem;
    }
  }
  .endorsements {
    a {
      color: inherit;
    }
  }
}
