.signup-section {
  padding: 4rem 0 0;
  @media (min-width: 768px) {
    padding: 6rem 0 0;
  }
  background: linear-gradient(to bottom, $primary 0%, $black 100%);
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: contain;
  hr {
    border-top-color: rgba(white,.5);
    margin-bottom: 3rem;
  }
  p {
    color: rgba(white,.75);
    &:last-child {
      border: solid 1px rgba(white,.75);
      padding: .5rem 1rem;
      display: inline-block;
      border-radius: .25rem;
      margin-top: 1rem;
      background: rgba(white,.25);
    }
  }
  .form-inline {
    input {
      box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0,0,0,.1) !important;
      padding: 1.25rem 2rem;
      height: auto;
      font-family: 'Varela Round';
      font-size: 80%;
      text-transform: uppercase;
      letter-spacing: 0.15rem;
      border: 0;
    }
  }
}
