/*------------------------------------*\
    CONTENTS
\*------------------------------------*/

/*
IMPORTS
RESETS
NAVBAR
SECTIONS
BUTTONS
FOOTER
SHARED
*/

/*------------------------------------*\
    $IMPORTS
\*------------------------------------*/

@import 'variables.scss';
//@import 'mixins.scss';
/*------------------------------------*\
    $RESETS
\*------------------------------------*/

body {
  font-family: /* 'Montserrat',  */
  sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  background-color: black;
  font-size: 16px;
}

html {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: /* 'Cardo',  */
  serif;
  font-weight: 700;
  margin: 0 0 2rem;
  letter-spacing: 1px; //text-transform: uppercase;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0 0 1.5rem;
  @media(min-width: 768px) {
    font-size: 1rem;
    line-height: 1.6;
    margin: 0 0 1.5rem;
  }
}

a {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: $primary;
  &:focus,
  &:hover {
    text-decoration: none;
    color: darken($primary, 20%);
  }
}

/*------------------------------------*\
    $NAVBAR
\*------------------------------------*/

#mainNav {
  //font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 0;
  text-transform: uppercase;
  border-bottom: 1px solid fade-out(white, .7);
  background-color: black;
  .navbar-toggler {
    font-size: 1rem;
    padding: 1rem;
    color: white;
    border: 1px solid white;
  }
  .navbar-brand {
    font-weight: 700;
  }
  a {
    color: white;
  }
  .navbar-nav {
    .nav-item {
      -webkit-transition: background 0.3s ease-in-out;
      transition: background 0.3s ease-in-out;
      &:hover {
        color: fade(white, 80%);
        outline: none;
        background-color: transparent;
      }
      &:active,
      &:focus {
        outline: none;
        background-color: transparent;
      }
    }
  }
  @media(min-width:992px) {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    letter-spacing: 1px;
    border-bottom: none;
    background: transparent;
    &.navbar-shrink {
      padding-top: .5rem;
      padding-bottom: .5rem;
      border-bottom: 1px solid fade-out(white, .7);
      background: black;
    }
    .nav-link.active {
      outline: none;
      background-color: rgba(white, .3);
      &:hover {
        color: white;
      }
    }
  }
}

/*------------------------------------*\
    $SECTIONS
\*------------------------------------*/

.masthead {
  background-color: #000;
  background-size: cover;
  color: white; //background: url('../img/intro-bg.jpg') no-repeat bottom center scroll;
  display: table;
  height: auto; //padding: 200px 0;
  text-align: center;
  width: 100%;
  .intro-body {
    display: table-cell;
    vertical-align: middle;
    .brand-heading {
      font-size: 3rem;
    }
    .intro-text {
      font-size: 1rem;
    }
  }
  @media(min-width:768px) {
    height: 100%;
    padding: 0;
    .intro-body {
      .brand-heading {
        font-size: 6rem;
      }
      .intro-text {
        font-size: 1.5rem;
      }
    }
  }
}

.content-section {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.download-section {
  color: white; //background: url('../img/downloads-bg.jpg') no-repeat center center scroll;
  background-color: black;
  background-size: cover;
}

@media(min-width:992px) {
  .content-section {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
}

.subhead {
  font-size: 1.5rem;
}

/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/

.btn {
  //font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; //text-transform: uppercase;
  border-radius: 0;
}

.btn-circle {
  display: initial;
  font-size: 1.5rem; //width: 55px;
  //height: 55px;
  margin-top: 1rem;
  line-height: 3rem;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  color: white;
  border: 2px solid white;
  border-radius: 100% !important;
  background: transparent;
  &:focus,
  &:hover {
    color: white;
    outline: none;
    background: fade-out(white, .9);
  }
}

.btn-default {
  color: $primary;
  border: 1px solid $primary;
  background-color: transparent;
  &:focus,
  &:hover {
    color: black;
    border: 1px solid $primary;
    outline: none;
    background-color: $primary;
  }
}

ul.banner-social-buttons {
  margin-top: 0;
  @media(max-width: 1199px) {
    margin-top: 1rem;
  }
  @media(max-width:767px) {
    li {
      display: block;
      margin-bottom: 1.5rem;
      padding: 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

/*------------------------------------*\
    $FOOTER
\*------------------------------------*/

footer {
  padding: 3rem 0;
  p {
    font-size: 1rem;
    margin: 0;
  }
}

/*------------------------------------*\
    $SHARED
\*------------------------------------*/

::-moz-selection {
  background: #fcfcfc;
  background: fade-out(white, .8);
  text-shadow: none;
}

::selection {
  background: #fcfcfc;
  background: fade-out(white, .8);
  text-shadow: none;
}

img::-moz-selection {
  background: transparent;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}