@import 'variables.scss';
@import 'mixins.scss';
@import 'navbar.scss';
@import 'masthead.scss';
@import 'buttons.scss';
@import 'about.scss';
@import 'issues.scss';
@import 'signup.scss';
@import 'contact.scss';


body {
  font-family: 'Work Sans', sans-serif;
}
.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Antic Slab';
}
.display-1 {
  font-size: 4rem;
  font-weight: 300;
  line-height: 1.2;
  @media (min-width: 769px) {
    font-size: 5rem;
  }
  @media (min-width: 992px) {
    font-size: 6rem;
  }
}

.display-2 {
  font-size: 4rem;
  font-weight: 300;
  line-height: 1.2;
  @media (min-width: 769px) {
    font-size: 5rem;
  }
  @media (min-width: 992px) {
    font-size: 5.5rem;
  }
}

.display-3 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.2;
  @media (min-width: 769px) {
   font-size: 4rem;   
  }
  @media (min-width: 992px) {
    font-size: 4.5rem;
  }  
}

.display-4 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
  @media (min-width: 769px) {
    font-size: 3rem;    
  }
  @media (min-width: 992px) {
    font-size: 3.5rem;
  }
}

a {
  color: $primary;
  &:focus,
  &:hover {
    text-decoration: none;
    color: darken($primary, 20%);
  }
}

.bg-black {
  background-color: $black !important;
}

.text-primary {
  color: $primary !important;
}
.css-srkagk.e4550h40 {
  top: 120px !important;
  .css-141sqqa.e1m9xwad0 {
    right: 20px !important;
    top: 20px !important;
  }
}
.css-1x7v7yu {
  max-width: 90% !important;
}

footer {
  border-top: solid 1px rgba(white,.25);
  padding: 3rem 0;
  .paid-for-notice {
    border: solid 1px rgba(white,.75);
    padding: .5rem 1rem;
    display: inline-block;
    border-radius: .25rem;
    margin-top: 1rem;
    background: rgba(white,.25);
    margin-bottom: 1.5rem;
  }
  a {
    color: rgba(white,.5);
    &:hover {
     color: rgba(white,.75); 
    }
  }
}
