doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Power Geospatial

        link(rel='icon', type='image/x-icon', href='assets/pg-icon.svg')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.1.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Varela+Round', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
            .container.px-4.px-lg-5
                a.navbar-brand(href='#page-top')
                    img(src='assets/pg-icon.svg', alt='Power Geospatial Icon', style="height:2rem;width:auto")
                    span.navbar-brand Power Geospatial
                button.navbar-toggler.navbar-toggler-right(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto
                        li.nav-item
                            a.nav-link(href='#about') About
                        li.nav-item
                            a.nav-link(href='#projects') Projects
                        li.nav-item
                            a.nav-link(href='#contact') Contact

        // Masthead
        header.masthead
            .container.px-4.px-lg-5.d-flex.h-100.align-items-center.justify-content-center
                .d-flex.justify-content-center
                    .text-center
                        h1.mx-auto.my-0.text-uppercase Power Geospatial
                        h2.text-white-50.mx-auto.mt-2.mb-5 A portfolio.
                        //- a.btn.btn-primary(href='#about') Get Started

        // About
        section#about.about-section.text-center
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-8
                        h2.text-white.mb-4 Devin Power, PE (MN, ND)
                        p.text-white
                            | I am a professional water resources engineer with more than a decade of 
                            | experience designing, permitting, and inspecting public infrastructure 
                            | projects. 
                            //- | For more details on that, check out my 
                            //- a.text-white(href="#!") experience story map.
                        p.text-white
                            | I am currently a full-time student, studying Geographic Information Science 
                            | through the online 
                            a.text-white(href="https://online.nwmissouri.edu/programs/ms-in-geographic-information-science.aspx" target="_blank") 
                                | Masters of Science program at Northwest Missouri State University
                            | and Software Engineering through 
                            a.text-white(href="https://launchschool.com/courses" target="_blank")
                                | Launch School's Core Curriculum JavaScript Track.
                        p.text-white
                            | This site is my little corner of the internet to show off what I've learned from
                            | those two programs, and (with luck!) provide web-based tools that solve practical
                            | problems. Check out my projects below.
                        //- a.btn.btn-primary(href='#!') More Information

        // Projects
        section#projects.projects-section.bg-light
            .container.px-4.px-lg-5.overlay-parent
                div.overlay-filter.d-flex.align-items-center.justify-content-center
                    div.overlay-text COMING SOON
                // Featured Project Row
                .row.gx-0.mb-4.mb-lg-5.align-items-center
                    .col-xl-8.col-lg-7
                        img.img-fluid.mb-3.mb-lg-0(src='assets/img/bg-masthead.jpg', alt='...')
                    .col-xl-4.col-lg-5
                        .featured-text.text-center.text-lg-left
                            h4 MnDOT Bid Price Dashboard
                            p.text-black-50
                                | An interactive dashboard for understanding bid item unit prices.
                            a.btn.btn-primary.mb-2(href='#!') Launch Dashboard
                            a.btn.btn-primary.mb-2(href='#!') More Information
                // Project One Row
                .row.gx-0.mb-5.mb-lg-0.justify-content-center
                    .col-lg-6
                        img.img-fluid(src='assets/img/demo-image-01.jpg', alt='...')
                    .col-lg-6
                        .bg-black.text-center.h-100.project
                            .d-flex.h-100
                                .project-text.w-100.my-auto.text-center.text-lg-left
                                    h4.text-white Engineering Project Map
                                    p.text-white-50
                                        | A web map highlighting the engineering projects I've contributed to, and my role on each.
                                    //- a.btn.btn-primary.mb-2(href='#!') Launch Map
                                    //- a.btn.btn-primary.mb-2(href='#!') More Information
                                    //- hr.d-none.d-lg-block.mb-0.ms-0
                // Project Two Row
                .row.gx-0.justify-content-center
                    .col-lg-6
                        img.img-fluid(src='assets/img/demo-image-02.jpg', alt='...')
                    .col-lg-6.order-lg-first
                        .bg-black.text-center.h-100.project
                            .d-flex.h-100
                                .project-text.w-100.my-auto.text-center.text-lg-right
                                    h4.text-white MN Stormwater Regulation Map
                                    p.text-white-50
                                        | A web map that allows for rapid discovery of the water resources near and stormwater 
                                        | regulation landscape of a given project location in MN.
                                    //- a.btn.btn-primary.mb-2(href='#!') Launch Map
                                    //- a.btn.btn-primary.mb-2(href='#!') More Information
                                    //- hr.d-none.d-lg-block.mb-0.me-0

        // Contact
        section#contact.contact-section.bg-black
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5
                    .col-md-4.mb-3.mb-md-0
                        .card.py-4.h-100
                            .card-body.text-center
                                i.fab.fa-linkedin.text-primary.mb-2
                                h4.text-uppercase.m-0 Social
                                hr.my-4.mx-auto
                                a.small.text-black-50(href="https://www.linkedin.com/in/devin-power") linkedin.com/in/devin-power
                    .col-md-4.mb-3.mb-md-0
                        .card.py-4.h-100
                            .card-body.text-center
                                i.fas.fa-envelope.text-primary.mb-2
                                h4.text-uppercase.m-0 Email
                                hr.my-4.mx-auto
                                .small.text-black-50
                                    a(href='mailto:devin@powergeospatial.xyz') devin@powergeospatial.xyz
                    .col-md-4.mb-3.mb-md-0
                        .card.py-4.h-100
                            .card-body.text-center
                                i.fas.fa-mobile-alt.text-primary.mb-2
                                h4.text-uppercase.m-0 Phone
                                hr.my-4.mx-auto
                                .small.text-black-50 +1 (612) 208-8078
                //- .social.d-flex.justify-content-center
                //-     a.mx-2(href='#!')
                //-         i.fab.fa-twitter
                //-     a.mx-2(href='#!')
                //-         i.fab.fa-facebook-f
                //-     a.mx-2(href='#!')
                //-         i.fab.fa-github

        // Footer
        footer.footer.bg-black.small.text-center.text-white-50
            .container.px-4.px-lg-5
                | Copyright &copy; Power Geospatial 2022

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
